In [2]:
import datetime
from dateutil.relativedelta import relativedelta

In [177]:
def adiciona_data(intervalo, quantidade, data, formato_entrada='%Y-%m-%d'):
  """
    Adiciona/subtrai datas relativas com o intervalo informado.
    Parâmetros:
      - intervalo
        Tipo de dado: string
          Esperado:
            'ano'     -> adiciona/subtrai a quantidade de anos
            'mês'     -> adiciona/subtrai a quantidade de mese
            'dia'     -> adiciona/subtrai a quantidade de dias
            'hora'    -> adiciona/subtrai a quantidade de horas
            'minuto'  -> adiciona/subtrai a quantidade de minutos
            'segundo' -> adiciona/subtrai a quantidade de segundos
      - quantidade
        Tipo de dado: int
      - data
        Tipo de dado: date
      - formato_entrada
        Tipo de dado: string
          Exemplos:
            None                   -> datetime.date(2021, 7, 8)
            None                   -> datetime.datetime(2021, 7, 8, 1, 20, 15, 678)
            '%Y%m%d'               -> 20210708
            '%Y-%m-%d'             -> '2021-07-08'
            '%Y-%m-%d %H:%M:%S.%f' -> '2021-07-08 01:20:15.000678'
  """

  # verifica o tipo da data
  if type(data) in(datetime.datetime, datetime.date):
    dt_inicial = data
  else:
    dt_inicial = datetime.datetime.strptime(str(data), formato_entrada)

  # listas
  lista_ano = ['ano','year']
  lista_mes = ['mês', 'mes', 'month']
  lista_dia = ['dia', 'day']
  lista_hora = ['hora', 'hour']
  lista_minuto = ['minuto', 'minute']
  lista_segundo = ['segundo', 'second']

  # converte o intervalo para letras minúsculas
  intervalo = intervalo.lower()

  # adiciona/subtrai datas de acordo com o solicitado
  if intervalo in lista_ano:
    dt_final = dt_inicial + relativedelta(years=quantidade)
  elif intervalo in lista_mes:
    dt_final = dt_inicial + relativedelta(months=quantidade)
  elif intervalo in lista_dia:
    dt_final = dt_inicial + relativedelta(days=quantidade)
  elif intervalo in lista_hora:
    dt_final = dt_inicial + relativedelta(hours=quantidade)
  elif intervalo in lista_minuto:
    dt_final = dt_inicial + relativedelta(minutes=quantidade)
  elif intervalo in lista_segundo:
    dt_final = dt_inicial + relativedelta(seconds=quantidade)
  else:
    dt_final = dt_inicial

  return dt_final

In [179]:
data = '2021-07-08'
adiciona_data('mês', -6, data, '%Y-%m-%d')

datetime.datetime(2021, 1, 8, 0, 0)

In [182]:
data = datetime.datetime(2021,7,5,21,5,1)
adiciona_data('mês', -6, data, formato_entrada=None)

datetime.datetime(2021, 1, 5, 21, 5, 1)

In [172]:
def formata_data(data, formato_entrada='%d/%m/%Y', formato_saida='%Y-%m-%d'):
  """
    Formata datas. Ao informar 'agora' no parâmetro data será considerada a data atual.
    Parâmetros:
      - data
        Tipo de dado: date / datetime / string / int 
      - quantidade
        Tipo de dado: int
      - data
        Tipo de dado: date
      - formato_entrada
        Tipo de dado: string
          Exemplos:
            '%Y%m%d'               -> 20210708
            '%Y-%m-%d'             -> '2021-07-08'
            '%Y-%m-%d %H:%M:%S.%f' -> '2021-07-08 01:20:15.000678'
      - formato_saida
        Tipo de dado: string
          Exemplos:
            '%Y%m%d'               -> 20210708
            '%Y-%m-%d'             -> '2021-07-08'
            '%Y-%m-%d %H:%M:%S.%f' -> '2021-07-08 01:20:15.000678'
            '%b %d %Y %H:%M:%S'    -> 'Jul 09 2021 00:56:54'
  """

  # verifica o tipo da data
  if type(data) in(datetime.datetime, datetime.date):
    dt_inicial = data
  elif data in('hoje', 'today', 'agora', 'now'):
    dt_inicial = datetime.datetime.now()
  else:
    dt_inicial = datetime.datetime.strptime(str(data), formato_entrada)

  # formata a data para o tipo solicitado
  dt_final = dt_inicial.strftime(formato_saida)

  return dt_final

In [173]:
formata_data('agora', formato_saida='%b %d %Y %H:%M:%S')

'Jul 09 2021 02:06:00'

In [176]:
data = '2021-07-08'
formata_data(data, '%Y-%m-%d', '%Y-%m-%d %H:%M:%S.%f')

'2021-07-08 00:00:00.000000'

In [169]:
def trunca_data(intervalo, data):
  """
    Trunca datas no intervalo informado.
    Parâmetros:
      - intervalo
        Tipo de dado: string
          Esperado:
            'ano'     -> volta para o inicio do ano
            'mês'     -> volta para o primeiro mês do ano
            'dia'     -> volta para o primeiro dia do mês
            'hora'    -> volta para a primeira hora do dia
            'minuto'  -> volta para o primeiro minuto da hora
            'segundo' -> volta para o primeiro segundo do minuto
      - data
        Tipo de dado: date / datetime / string / int
          Esperado:
            string: '2021-07-08' / '2021-07-08 22:36' / '2021-07-08 22:36:30'
            int: 20210708
  """

  # verifica o tipo da data
  if type(data) in(datetime.datetime, datetime.date):
    dt_inicial = data
  elif type(data) is int and len(str(data)) == 8:
    dt_inicial = datetime.datetime.strptime(str(data), '%Y%m%d')
  elif len(data) == 10:
    dt_inicial = datetime.datetime.strptime(str(data), '%Y-%m-%d')
  elif len(data) == 16:
    dt_inicial = datetime.datetime.strptime(str(data), '%Y-%m-%d %H:%M')
  elif len(data) >= 19:
    dt_inicial = datetime.datetime.strptime(str(data)[:19], '%Y-%m-%d %H:%M:%S')

  # listas
  lista_ano = ['ano','year']
  lista_mes = ['mês', 'mes', 'month']
  lista_dia = ['dia', 'day']
  lista_hora = ['hora', 'hour']
  lista_minuto = ['minuto', 'minute']
  lista_segundo = ['segundo', 'second']

  # converte o intervalo para letras minúsculas
  intervalo = intervalo.lower()

  # adiciona/subtrai datas de acordo com o solicitado
  if intervalo in lista_ano:
    dt_final = datetime.date(dt_inicial.year, 1, 1)
  elif intervalo in lista_mes:
    dt_final = datetime.date(dt_inicial.year, 1, 1)
  elif intervalo in lista_dia:
    dt_final = datetime.date(dt_inicial.year, dt_inicial.month, 1)
  elif intervalo in lista_hora:
    dt_final = datetime.datetime(dt_inicial.year, dt_inicial.month, dt_inicial.day, 0, 0, 0, 0)
  elif intervalo in lista_minuto:
    dt_final = datetime.datetime(dt_inicial.year, dt_inicial.month, dt_inicial.day, dt_inicial.hour, 0, 0, 0)
  elif intervalo in lista_segundo:
    dt_final = datetime.datetime(dt_inicial.year, dt_inicial.month, dt_inicial.day, dt_inicial.hour, dt_inicial.minute, 0, 0)
  else:
    dt_final = dt_inicial

  return dt_final

In [171]:
data = '2021-07-08 22:22:22'
trunca_data('ano', data)

datetime.date(2021, 1, 1)

In [ ]:
def converte_data(data, formato_entrada='%d/%m/%Y'):
  """
    Converte string ou número para data.
    Parâmetros:
      - data
        Tipo de dado: string / int
      - formato_entrada
        Tipo de dado: string
          Exemplos:
            '%Y%m%d'               -> 20210708
            '%Y-%m-%d'             -> '2021-07-08'
            '%Y-%m-%d %H:%M:%S.%f' -> '2021-07-08 01:20:15.000678'
  """ 

  dt_inicial = datetime.datetime.strptime(str(data), formato_entrada)

  # converte para data caso não tenha hora informada
  if 'H' not in formato_entrada.upper():
    dt_final = dt_inicial.date()
  else:
    dt_final = dt_inicial
  

  return dt_final

In [168]:
data = '2021-07-08'
converte_data(data, '%Y-%m-%d')

datetime.date(2021, 7, 8)

In [167]:
data = 20210708
converte_data(data, '%Y%m%d')

datetime.date(2021, 7, 8)